.navBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #212131;
    height: 70px;
    display: grid;
    padding: 10px 20px 5px;
}
.inputLabel, .speedLabel{
    color: white;
    padding: 0 5px;
    margin-right: 70px;
}